<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header><p>Learning Routing</p></header>
    <main class="aboutPage">
      <div>
        <img
          src="https://www.cb-india.com/images/detailed/43/9781493222926_267.png"
          alt="A book"
        />
        <p>
          If you are developing server-side JavaScript applications, you need
          Node.js! Start with the basics of the Node.js environment:
          installation, application structure, and modules. Then follow detailed
          code examples to learn about web development using frameworks like
          Express and Nest. Learn about different approaches to asynchronous
          programming, including RxJS and data streams. Details on peripheral
          topics such as testing, security, performance, and more make this your
          all-in-one daily reference for Node
        </p>
        <div><a href="about.html">about page</a></div>
        <div><a href="contact.html">contact page</a></div>
      </div>
    </main>
    <footer><p>created by Leon Gitelman and Neo zino &copy; 2024</p></footer>
  </body>
</html>
